keywords: contributor,github,top
description: The list of contributors in Sentry Software open-source projects.
<!--
  ╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲
  Open Sentry Web Site
  ჻჻჻჻჻჻
  Copyright (C) 2023 - 2024 Sentry Software
  ჻჻჻჻჻჻
  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:
  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  THE SOFTWARE.
  ╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱
  -->

Team Members & Contributors
===========================

#* Fetch the GitHub API *#
#set( $repoList = $json.fetch("https://api.github.com/orgs/sentrysoftware/repos") )
#if( $repoList && $repoList.size() > 0 )

#* Build a map with all contributors *#
#set( $contribMap = {} )
#foreach ($repo in $repoList.iterator() )
	#if( !$repo.fork && $repo.visibility == "public" && !$repo.archived && !$repo.disabled)
		#* For each repo, fetch the list of contributors *#
		#set( $contributors = $json.fetch($repo.contributors_url) )
		#if ($contributors && $contributors.size() > 0)
			#foreach ($contributor in $contributors.iterator() )
				#set( $_ = $contribMap.put($contributor.login, $contributor) )
			#end
		#end
	#end
#end

#* Sort the map *#
#set( $sortedContribMap = $collection.sort($contribMap, "contributions:desc") )

#* Output the Markdown table *#
| Name | Contributions |
|---|---|
#foreach ($contributor in $sortedContribMap)
| [$contributor.login]($contributor.html_url) | $contributor.contributions |
#end

#* If no result, display a message *#
#else
$log.error("Could not fetch repositories")
*No repositories.*
#end
